<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 style="display: inline;">Your items</h1>
            <button [routerLink]="['/create-todo']" class="btn btn-primary" id="create-item">
                Create New ToDo
            </button>
        </div>
        <div class="card-body">
            <p *ngIf="toDoItems.length == 0">You have nothing to do!</p>
            <table *ngIf="toDoItems.length > 0" class="table">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Complete By</th>
                </tr>
                <tr [routerLink]="['/item/view/', toDo.id]" *ngFor=" let toDo of toDoItems" style="cursor: pointer;">
                    <td>{{toDo.title}}</td>
                    <td>{{toDo.description}}</td>
                    <td>{{toDo.date.toDateString()}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>