<form [formGroup]="registerForm" method="POST" (ngSubmit)="onSubmit()" class="container-fluid">
    <div class="card mx-auto" style="width: 40em; margin-top: 2em; margin-bottom: 2em;">
        <div class="card-header">
            <h1>
                Sign up
            </h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" formControlName="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" formControlName="password" class="form-control" type="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <span class="float-right"> Already Registered?
                <a [routerLink]="['/login']" class="btn btn-secondary float-right">Sign In</a>
            </span>
        </div>
    </div>
    
</form>