<app-nav-bar></app-nav-bar>
<div class="container">
    <div *ngIf="!edit" class="card w-50 mx-auto">
        <div class="card-header">
            <h1 style="display: inline;">{{item.title}}</h1>
            <button class="btn btn-warning float-right" (click)="openEdit()">Edit</button>
        </div>
        <div class="card-body">
            <h3>Complete By</h3>
            <p>{{item.date.toDateString()}}</p>
            <h3>Description</h3>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div *ngIf="edit" class="card w-50 mx-auto">
        <form>
            <div class="card-header"></div>
            <div class="card-body">
                <button class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
            </div>
        </form>
    </div>
</div>