<app-nav-bar></app-nav-bar>
<div class="container">
    <div *ngIf="!edit" class="card w-50 mx-auto">
        <div class="card-header">
            <h1 style="display: inline;">{{item.title}}</h1>
            <button class="btn btn-warning float-right" (click)="openEdit()">Edit</button>
        </div>
        <div class="card-body">
            <h3>Complete By</h3>
            <p>{{item.date.toDateString()}}</p>
            <h3>Description</h3>
            <p>{{item.description}}</p>
        </div>
        <ngx-spinner [fullScreen]="false"></ngx-spinner>
    </div>
    <div *ngIf="edit" class="card w-50 mx-auto">
        <form [formGroup]="editToDoForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
                <input type="text" maxlength="20" [placeholder]="item.title" class="form-control" formControlName="title">
            </div>
            <div class="card-body">
                <input type="date" [value]="item.date" class="form-control" formControlName="date">
                <textarea class="form-control" style="margin-top: 1em; margin-bottom: 1em;" [placeholder]="item.description" formControlName="description"></textarea>
                <input type="submit" class="btn btn-primary" value="Save">
                <button class="btn btn-danger float-right" (click)="deleteItem(item)">Delete</button>
            </div>
        </form>
    </div>
</div>