<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <div class="navbar-brand">ToDo</div>
        <div class="navbar-text" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a *ngIf="this.user" [routerLink]="['/create-todo']" class="nav-link btn btn-primary"
                        id="create-item">
                        Create New ToDo
                    </a>
                    <a *ngIf="!this.user" [routerLink]="['/login']" class="nav-link btn btn-primary" id="create-item">
                        Login
                    </a>
                </li>
                <li *ngIf="this.user" class="nav-item active">
                    <a (click)="logout()" class="nav-link btn btn-primary">Logout</a>
                </li>
                <li *ngIf="!this.user" class="nav-item active" style="margin-left: 1em;">
                    <a [routerLink]="['/register']" class="nav-link btn btn-primary">
                        Register
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>