#main>div.card-header {
    display:flex;
    place-content: end space-between;
    align-items: center;
}

div.inner {
    display: flex;
    justify-items: auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

div.inner>div {
    width: 25%;
    cursor: pointer;
}

h2 {
    font-size: 1.5em;
}