#main>div.card-header {
    display: flex;
    place-content: end space-between;
    align-items: center;
}

div.inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

div.inner>div {
    cursor: pointer;
}

h2 {
    font-size: 1.5em;
}

div.group-container {
    width: 30%;
    margin: 0 1em 0 1em;
}

div.options {
    display: flex;
    align-items: baseline;
}

div.options>* {}